/* Custom color */

:root {
    /* Общие цвета (шапка, меню и подвал */
    --basic-blue: #32425C; /* Меню и подвал */
    --basic-darkblue: #293449; /* Верхнее меню + нижний подвал */
    --basic-verydarkblue: #1D2739; /* Для меню отдельно */
    
    /* Кнопки - ссылки */
    --basic-buttonred: #EE3643; /* Цвет для обычных кнопок */
    --basic-buttongreen: #63A63E; /* Цвет для кнопки транзакций */

    /* Секция рядом с слайдером */
    --basic-yellowlight: #FFD180;
    --basic-bluelight: #3BBCE3;
    --basic-liliclight: #DC91D8;
    --basic-greenlight: #8ED78F;
    --basic-yellow: #FFBF47;
    --basic-veryyellowlight: #FFC047;

    /*Вспомогательные цвета */
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-graylight: #C5C5C5;
    --basic-background: #F1F5F7;
    --basic-graymaxlight: #EAEAEA;
    --basic-bckpopularbrands: #F9F5F0;
    --basic-superlightgray: #F3F7F9;
    --basic-gold: #FFD180;
    --basic-darkgreen: #518534;
    --basic-cataloggray: #F2F6F8;
    --basic-beige: #F7F3EC;
    --basic-lightwhite: #E5E5E5;
    --basic-oldprice: #A9A9A9;


    /* Предупреждающие цвета */
    --basic-error: #BA2732;
    --basic-good: #5FBB2D;
    --basic-warning: #FFBF47;

    /* Прозрачность */
    --basic-opacitygraylight03: rgba(228, 228, 228, 0.3);
    --basic-opacitytext05: rgba(255, 255, 255, 0.5);
    --basic-opacitytext03: rgba(255, 255, 255, 0.3);
    --basic-opacitydarkgray03: rgba(169, 169, 169, 0.3);
}

body {
    min-width: 940px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

body ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hiden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.popup-order, .popup-map, .add-cart-popup {
    display: none;
}

/* Стили кнопок  */

/* Красные кнопки на главной странице */
.btn-main-page {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    background-color: var(--basic-buttonred);
    color: var(--basic-white);
    line-height: 18px;
    text-transform: uppercase;
}

.btn-main-page:hover {
    background-color: var(--basic-buttonred);
}

.btn-main-page:active {
    background-color: var(--basic-error);
}

/* Транзакционные кнопки */
/* Общие стили для кнопок */
.btn-catalog {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
}

/* Кнопка купить */
.btn-buy {
    background-color: var(--basic-buttongreen);
    color: var(--basic-white);
    box-shadow: inset 0px -3px 0px #367315;
    border-radius: 2px;
}

.btn-buy:hover {
    background-color: var(--basic-good);
}

.btn-buy:active {
    background-color: var(--basic-darkgreen);
    box-shadow: inset 0px -3px 0px #367315;
}

/* Кнопка закладки */
.btn-favorites {
    background-color: var(--basic-white);
    color: var(--basic-blue);
    border: 3px solid var(--basic-buttongreen);
    border-radius: 2px;
}

.btn-favorites:hover {
    border: 3px solid var(--basic-blue);
}

.btn-favorites:active {
    opacity: 0.5;
}


/* Header */

.main-header {
    font-family: "Cuprum", Arial, sans-serif;
    background-color: var(--basic-background);
    padding-bottom: 60px;
}

/* Верхнее меню */

.top-menu {
    background-color: var(--basic-darkblue);
}

.top-menu a {
    color: var(--basic-white);
    font-size: 18px;
}

.logo {
    background-color: var(--basic-buttonred);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo:hover {
    background-color: var(--basic-buttonred);
}

.logo:active {
    background-color: var(--basic-error);
}

/* Стилизация для поиска */

.favorites:hover, .cart:hover { 
    color: var(--basic-white);
}

.favorites:active, .cart:active {
    background-color: var(--basic-black);
    color: var(--basic-opacitytext05);
}

.place-order {
    background-color: var(--basic-buttongreen);
}

.place-order:hover {
    background-color: var(--basic-good);
}

.place-order:active {
    background-color: var(--basic-buttongreen);
    color: var(--basic-opacitytext05);
}

.slogan {
    color: var(--basic-buttonred);
    font-size: 16px;
    font-style: italic;
}

.main-phone {
    width: 270px;
    height: 45px;
    color: var(--basic-buttonred);
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    border: 3px solid var(--basic-white);
}

.adress {
    color: var(--basic-blue);
    font-size: 14px;
}

/* Авторизация + личный кабинет (catalog.html) */

.auth a {
    color: var(--basic-black);
    font-size: 21px;
    background-color: var(--basic-white);
}

.auth a:hover {
    color: var(--basic-buttonred); /* Цвет будет и для иконок */
}

.auth a:active {
    color: var(--basic-graylight); /* Цвет будет и для иконок */
}

.main-menu {
    background-color: var(--basic-blue);
    box-shadow: inset 0px -5px 0px #293449;
}

.main-menu a {
    color: var(--basic-white);
    font-size: 18px;
}

.site-navigation a:hover {
    background-color: var(--basic-darkblue);
}

.site-navigation a:active {
    background-color: var(--basic-verydarkblue);
    color: var(--basic-opacitytext05);
}

/* Главное содержимое */
/* Секции + слайдер */

.block-information {
    font-family: "Cuprum", Arial, sans-serif;
}

.block-information section {
    width: 300px;
    height: 123px;
}

.block-information > section > h2 {
    font-size: 24px;
    font-weight: bold;
    color: var(--basic-white);
}

.block-information > section > a { /* Подумать о ссылках с секциями и слайдерами */
    color: var(--basic-white);
    background-color: var(--basic-opacitytext03);
    font-size: 14px;
    text-transform: uppercase;
    line-height: 14px;
}

.material-product {
    background-color: var(--basic-yellow);
}

.instruments {
    background-color: var(--basic-bluelight);
}

.technic {
    background-color: var(--basic-liliclight);
}

.sale {
    background-color: var(--basic-greenlight);
}

.delivery {
    background-color: var(--basic-veryyellowlight);
}

.block-information > section > a:hover {
    background-color: var(--basic-opacitygraylight03);
}

.block-information > section > a:active {
    background-color: var(--basic-opacitydarkgray03);
}

.main-slider .title-slider {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    text-transform: uppercase;
}

.main-slider .slogan-slider {
    font-size: 18px;
    line-height: 24px;
}

.title-slider, .slogan-slider {
    color: var(--basic-white);
}

/* Популярные товары + производители */

.block-popular, .block-brands {
    background-color: var(--basic-bckpopularbrands);
}

.block-popular h2, .block-brands h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: var(--basic-darkblue);
    line-height: 30px;
    text-transform: uppercase;
}

.block-popular a, .block-brands a {
    color: var(--basic-white);
    text-transform: uppercase;
}

/* Внутри блоков товары + логотипы производителей + весь каталог*/

.item-products {
    text-align: center;
    border: 1px solid var(--basic-graymaxlight);
}

.item-products .title-products {
    font-size: 18px;
    font-weight: bold;
    color: var(--basic-black);
    line-height: 20px;
    margin: 0;
}

.name-products, .model-products {
    display: block;
}

.old-price, .price-products {
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;
}

.old-price {
    color: var(--basic-oldprice);
    text-decoration: line-through;
}

.price-products {
    color: var(--basic-white);
    background-color: var(--basic-buttonred);
    display: block;
 /* Выравнивание по центру */
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

.item-brands {
    border: 1px solid var(--basic-graymaxlight);
}

/* Блок с информацией */

.service {
    background-color: var(--basic-background);
}

.service h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.menu-service button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    display: block;
    width: 220px;
    height: 61px;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    border: 0;
    box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.menu-service button:hover {
    background-color: var(--basic-verydarkblue);
}

.menu-service button:active { /* При нажатии левой мыши, кнопка показывается в рамке + pамка синяя вокруг*/
    background-color: var(--basic-white);
    color: var(--basic-blue);
    box-shadow: 0px 1px 0px #FFFFFF, inset 0px 1px 0px #FFFFFF;
}

/* Блок с компанией */

.company h2, .company ul {
    font-family: "Cuprum", Arial, sans-serif;
    color: var(--basic-black);
}

.company h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;
}

.delivery-company {
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
}

/* Для catalog.html */
/* Личный кабинет */

.name-client, .go-out {
    background-color: var(--basic-white);
    color: var(--basic-black);
    font-size: 21px;
    font-weight: normal;
    line-height: 21px;
}

.user-link {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-blue); 
}

.name-client:hover, .go-out:hover {
    color: var(--basic-blue)
}

.user-link:hover {
    color: var(--basic-buttonred);
}

.name-client:active, .go-out:active, .user-link:active  {
    color: var(--basic-graylight);
}

/* Хлебные крошки + блок с заголовком h1 */

.breadcrumbs a{
    color: var(--basic-black);
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.breadcrumbs a:hover {
    color: var(--basic-blue);
}

.breadcrumbs a:active {
    color: var var(--basic-verydarkblue);
}


.page-title {
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    background-color: var(--basic-cataloggray);
    line-height: 30px;
    text-transform: uppercase;
}

.section-sort, .filter {
    text-transform: uppercase;
}

/*Сортировка */

.section-sort {
    background-color: var(--basic-beige);
}

.btn-param {
    color: var(--basic-black);
    opacity: 0.3;
    font-size: 13px;
    line-height: 18px;
    border-bottom: 1px dashed var(--basic-buttonred);
}

.result {
    color: var(--basic-buttonred);
    border: none;
    opacity: 1;
}


.click-sort:hover {
    color: var(--basic-black);
    border-bottom: 1px solid var(--basic-buttonred);
    opacity: 1;
}

.click-sort:active {
    color: var(--basic-buttonred);
    border: none;
    opacity: 1;
}


/* Каталог продуктов */
.item-products {
    width: 220px;
    min-height: 318px;
}


/* Фильтр */
.filter {
    width: 220px;
}

.filter ul {
    padding: 0;
    font-size: 15px;
    line-height: 19px;
}

fieldset {
    border: 0;
}

.filter-title {
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
}

.range-field {
    border-bottom: 1px solid var(--basic-lightwhite);
}

.manufacturer-field {
    border-bottom: 1px solid var(--basic-lightwhite);
}

.button-filter {
    font-size: 13px;
    line-height: 18px;
    background-color: var(--basic-white);
    text-transform: uppercase;
    border: 1px solid #E5E5E5;
}

/* Информация о инструментах */
.info-instruments {
    background-color: var(--basic-background);
}

.info-instruments h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;
}

/* Пагинация */

.pagination li {
    display: inline;
}

.btn-pag {
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: 1px solid var(--basic-lightwhite);
    border-radius: 2px;
}

.here {
    background-color: var(--basic-buttonred);
    color: var(--basic-white);
    border: 1px solid var(--basic-buttonred);
}

.click:hover {
    border: 1px solid var(--basic-graylight);
}

.click:active {
    border: 1px solid var(--basic-buttonred);
}

/* Подвал */ 
.main-footer {
    font-family: "Cuprum", Arial, sans-serif;
    background-color: var(--basic-blue);
}

.footer-logo {
    background-color: var(--basic-buttonred);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-info, .fphone{
    font-size: 18px;
    font-weight: normal;
    line-height: 24px; 
    color: var(--basic-superlightgray);
}

.fadress {
    margin-bottom: 0;
}

.footer-menu {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.fnav-one a {
    color: var(--basic-background);
}

.fnav-two a {
    color: var(--basic-gold);
}

.fnav-one a:hover, .fnav-two a:hover {
    text-decoration: underline;
}

.fnav-one a:active, .fnav-two a:active {
    opacity: 0.5;
}

/* Нижний подвал */
.footer-bottom {
    background-color: var(--basic-darkblue);
}

.footer-copyright {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: var(--basic-white);
}

.footer-social a {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: var(--basic-white);
}

.footer-contacts {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: var(--basic-white);
}

.footer-contacts a {
    color: var(--basic-gold);
}

.footer-contacts a:hover {
    text-decoration: underline;
}

.footer-contacts a:active {
    color: var(--basic-buttonred);
    text-decoration: underline;
}