/* Custom color */

:root {
    /* Общие цвета (шапка, меню и подвал */
    --basic-blue: #32425C; /* Меню и подвал */
    --basic-darkblue: #293449; /* Верхнее меню + нижний подвал */
    --basic-verydarkblue: #1D2739; /* Для меню отдельно */
    
    /* Кнопки - ссылки */
    --basic-buttonred: #EE3643; /* Цвет для обычных кнопок */
    --basic-buttongreen: #63A63E; /* Цвет для кнопки транзакций */

    /* Секция рядом с слайдером */
    --basic-yellowlight: #FFD180;
    --basic-bluelight: #3BBCE3;
    --basic-liliclight: #DC91D8;
    --basic-greenlight: #8ED78F;
    --basic-yellow: #FFBF47;
    --basic-veryyellowlight: #FFC047;

    /*Вспомогательные цвета */
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-graylight: #C5C5C5;
    --basic-background: #F1F5F7;
    --basic-graymaxlight: #EAEAEA;
    --basic-bckpopularbrands: #F9F5F0;
    --basic-superlightgray: #F3F7F9;
    --basic-gold: #FFDA96;
    --basic-darkgreen: #518534;
    --basic-cataloggray: #F2F6F8;
    --basic-beige: #F7F3EC;
    --basic-lightwhite: #E5E5E5;
    --basic-oldprice: #A9A9A9;


    /* Предупреждающие цвета */
    --basic-error: #BA2732;
    --basic-good: #5FBB2D;
    --basic-warning: #FFBF47;

    /* Прозрачность */
    --basic-opacitygraylight03: rgba(228, 228, 228, 0.3);
    --basic-opacitytext05: rgba(255, 255, 255, 0.5);
    --basic-opacitytext03: rgba(255, 255, 255, 0.3);
    --basic-opacitydarkgray03: rgba(169, 169, 169, 0.3);
}

html {
    height: 100%;
}

body {
    min-width: 940px;
    min-height: 100%;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.visually-hiden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.item { 
    list-style: none;
    padding: 0;
    margin: 0;
}

.popup-order, .popup-map, .add-cart-popup {
    display: none;
}

/* Стили кнопок  */

/* Красные кнопки на главной странице */
.btn-main-page {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    background-color: var(--basic-buttonred);
    color: var(--basic-white);
    line-height: 18px;
    text-transform: uppercase;
}

.btn-main-page:hover {
    background-color: var(--basic-buttonred);
}

.btn-main-page:active {
    background-color: var(--basic-error);
}

.btn-popular, .btn-brands {
  width: 192px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
}

/* Транзакционные кнопки */
/* Общие стили для кнопок */
.btn-catalog {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
}

/* Кнопка купить */
.btn-buy {
    background-color: var(--basic-buttongreen);
    color: var(--basic-white);
    box-shadow: inset 0px -3px 0px #367315;
    border-radius: 2px;
}

.btn-buy:hover {
    background-color: var(--basic-good);
}

.btn-buy:active {
    background-color: var(--basic-darkgreen);
    box-shadow: inset 0px -3px 0px #367315;
}

/* Кнопка закладки */
.btn-favorites {
    background-color: var(--basic-white);
    color: var(--basic-blue);
    border: 3px solid var(--basic-buttongreen);
    border-radius: 2px;
}

.btn-favorites:hover {
    border: 3px solid var(--basic-blue);
}

.btn-favorites:active {
    opacity: 0.5;
}


/* Header */

.main-header {
    font-family: "Cuprum", Arial, sans-serif;
    background-color: var(--basic-background);
    padding-bottom: 60px;
}

/* Верхнее меню */
.top-menu {
    background-color: var(--basic-darkblue);
}

.top-menu .container {
    display: flex;
    height: 42px;
}

.top-menu a {
    color: var(--basic-white);
    font-size: 18px;
}

.logo {
    background-color: var(--basic-buttonred);
    width: 220px;
    height: 47px;
    padding-top: 12px;
    padding-bottom: 17px;
    text-align: center;

    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo:hover {
    background-color: var(--basic-buttonred);
}

.logo:active {
    background-color: var(--basic-error);
}

/* Стилизация для поиска */

.search {
    display: flex;
    flex-grow: 1;
    
}

.search .search-label {
    flex-grow: 1;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    background-color: transparent;
    padding-left: 42px;
    border: none;
}

input[type="search"] {
    color: var(--basic-white);
}

input[type="search"]::-webkit-input-placeholder { 
    color: var(--basic-white);
}

input[type="search"]::-moz-placeholder { 
    color: var(--basic-white);
}
 /* Меняется иконка 

input[type="search"]:hover {

}

input[type="search"]::-webkit-input-placeholder:hover { 
   
}

input[type="search"]::-moz-placeholder:hover { 

}

*/

input[type="search"]:active {
    opacity: 0.5;
}

input[type="search"]::-webkit-input-placeholder:active { 
    opacity: 0.5;
}

input[type="search"]::-moz-placeholder:active { 
    opacity: 0.5;
}

.order-menu {
    display: flex;
}

.order-menu a {
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
}

.cart {
    padding-left: 49px;
    padding-right: 26px
}

.favorites {
    padding-left: 43px;
    padding-right: 26px;
}

.place-order {
    padding-left: 19px;
    padding-right: 16px;
}

.favorites:hover, .cart:hover { 
    color: var(--basic-white);
}

.favorites:active, .cart:active {
    background-color: var(--basic-black);
    color: var(--basic-opacitytext05);
}

.place-order {
    background-color: var(--basic-buttongreen);
}

.place-order:hover {
    background-color: var(--basic-good);
}

.place-order:active {
    background-color: var(--basic-buttongreen);
    color: var(--basic-opacitytext05);
}

/* Информация в шапке */

.header-information {
    margin-top: 44px;
}

.content-header {
    display: flex;
    justify-content: space-between;
}

.slogan {
    color: var(--basic-buttonred);
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    padding-left: 31px;
    margin: 0;
}

.contacts-header {
    text-align: center;
    flex-grow: 1;
    margin-left: 24px;
}

.main-phone {
    display: inline-block;
    min-height: 45px;
    color: var(--basic-buttonred);
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    padding-top: 7px;
    padding-left: 74px;
    padding-bottom: 7px;
    padding-right: 45px;
    border: 3px solid var(--basic-white);
}

.adress {
    color: var(--basic-blue);
    font-size: 14px;
    margin: 0;
}

/* Авторизация + личный кабинет (catalog.html) */

.sign-up, .reg {
    display: inline-block;
    padding: 12px 24px;
}

.sign-up {
    padding-top: 12px;
    padding-left: 45px;
    padding-bottom: 12px;
    padding-right: 24px;
    margin-right: 10px;
}

.auth a {
    color: var(--basic-black);
    font-size: 21px;
    background-color: var(--basic-white);
}

.auth a:hover {
    color: var(--basic-buttonred); /* Цвет будет и для иконок */
}

.auth a:active {
    color: var(--basic-graylight); /* Цвет будет и для иконок */
}

.main-menu {
    background-color: var(--basic-blue);
    margin-top: 40px;
    box-shadow: inset 0px -5px 0px #293449;
}

.main-menu a {
    color: var(--basic-white);
    font-size: 18px;
    padding-left: 27px;
    padding-right: 24px;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    margin: 0;
    padding-left: 26px;
    padding-right: 23px;
}

.site-navigation li {
    display: flex;
}

.site-navigation a {
    display: block;
    padding-top: 16px;
    padding-bottom: 20px;
}

.site-navigation a:hover {
    background-color: var(--basic-darkblue);
}

.site-navigation a:active {
    background-color: var(--basic-verydarkblue);
    color: var(--basic-opacitytext05);
}

/* Главное содержимое */
/* Секции + слайдер */

.block-information {
    font-family: "Cuprum", Arial, sans-serif;
}

.block-information section {
    width: 300px
}

.block-information .title-info {
    font-size: 24px;
    font-weight: bold;
    color: var(--basic-white);
}

.block-information .page-info { /* Подумать о ссылках с секциями и слайдерами */
    color: var(--basic-white);
    background-color: var(--basic-opacitytext03);
    font-size: 14px;
    text-transform: uppercase;
    line-height: 14px;
}

.section-marketing-one {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.material-product {
    background-color: var(--basic-yellow);
}

.instruments {
    background-color: var(--basic-bluelight);
}

.technic {
    background-color: var(--basic-liliclight);
}

.sale {
    background-color: var(--basic-greenlight);
}

.delivery {
    background-color: var(--basic-veryyellowlight);
}

.block-information .page-info:hover {
    background-color: var(--basic-opacitygraylight03);
}

.block-information .page-info:active {
    background-color: var(--basic-opacitydarkgray03);
}

.main-slider .title-slider {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    text-transform: uppercase;
}

.main-slider .slogan-slider {
    font-size: 18px;
    line-height: 24px;
}

.title-slider, .slogan-slider {
    color: var(--basic-white);
}

/* Популярные товары + производители */

.block  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--basic-bckpopularbrands);
    padding-left: 28px;
    padding-right: 14px;
    margin-bottom: 20px;
}

.block h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: var(--basic-blue);
    line-height: 30px;
    text-transform: uppercase;
}

.block a {
    color: var(--basic-white);
    text-transform: uppercase;
}

.popular-product {
  margin-top: 70px;
}

.brands {
  margin-top: 70px;
  margin-bottom: 70px;
}

/* Внутри блоков товары + логотипы производителей + весь каталог*/

.catalog-products-main, .catalog-brands {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.item-products {
    text-align: center;
    border: 1px solid var(--basic-graymaxlight);
}

.item-brands {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.item-brands:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.item-brands:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}


.item-products .title-products {
    font-size: 18px;
    font-weight: bold;
    color: var(--basic-black);
    line-height: 20px;
}

.item-brands {
    border: 1px solid var(--basic-graymaxlight);
}

/* Блок с информацией (доставка - гарантия - кредит) */

.content-service {
    background-color: var(--basic-background);
}

.service .container {
  padding-top: 65px;
  padding-bottom: 100px;
}

.information-service {
  display: flex;
}

.info-delivery {
  flex-grow: 1;
}

.title-section {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.service .title-info {
    color: var(--basic-blue);
}

.menu-service {
  margin-right: 80px;
}

.menu-service .btn-info {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    display: block;
    width: 220px;
    height: 61px;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    border: 0;
    box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.menu-service button:hover {
    background-color: var(--basic-verydarkblue);
}

.menu-service button:active { /* При нажатии левой мыши, кнопка показывается в рамке + pамка синяя вокруг*/
    background-color: var(--basic-white);
    color: var(--basic-blue);
    box-shadow: 0px 1px 0px #FFFFFF, inset 0px 1px 0px #FFFFFF;
}

/* Блок с компанией */
.company .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.company .delivery-company {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: var(--basic-black);
    line-height: 24px;
}


.about-company, .contacts-company {
  display: flex;
  flex-direction: column;
}

/* Кнопки в секции о компании и контакты */

.btn-company {
  align-self: flex-start;
  padding-top: 11px;
  padding-right: 40px;
  padding-bottom: 9px;
  padding-left: 40px;
  margin-top: 25px;
}

.btn-write {
  display: inline-block;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
  margin-top: 25px;
}

/* Для catalog.html */
/* Личный кабинет */

.name-client, .go-out {
    background-color: var(--basic-white);
    color: var(--basic-black);
    font-size: 21px;
    font-weight: normal;
    line-height: 21px;
}

.user-link {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-blue); 
}

.name-client:hover, .go-out:hover {
    color: var(--basic-blue)
}

.user-link:hover {
    color: var(--basic-buttonred);
}

.name-client:active, .go-out:active, .user-link:active  {
    color: var(--basic-graylight);
}

/* Хлебные крошки + блок с заголовком h1 */

.breadcrumbs a{
    color: var(--basic-black);
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.breadcrumbs a:hover {
    color: var(--basic-blue);
}

.breadcrumbs a:active {
    color: var var(--basic-verydarkblue);
}

.category-title {
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    background-color: var(--basic-cataloggray);
    line-height: 30px;
    text-transform: uppercase;
    padding: 30px 0px 30px 30px;
}

.section-sort, .filter {
    text-transform: uppercase;
}

/*Сортировка */

.sort-title {
    flex-grow: 1;
    padding: 0;
    margin: 0;
}

.section-sort {
    background-color: var(--basic-beige);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 18px;
}

.parameters {
    display: flex;
}

.item-sort {
    margin-right: 45px;
}

.item-top {
    margin-right: 20px;
}

.top-bottom {
    display: flex;
}

.btn-param {
    color: var(--basic-black);
    opacity: 0.3;
    font-size: 13px;
    line-height: 18px;
    border-bottom: 1px dotted var(--basic-buttonred);
}

.result {
    color: var(--basic-buttonred);
    border: none;
    opacity: 1;
}

.click-sort:hover {
    color: var(--basic-black);
    border-bottom: 1px solid var(--basic-buttonred);
    opacity: 1;
}

.click-sort:active {
    color: var(--basic-buttonred);
    border: none;
    opacity: 1;
}


/* Каталог продуктов */

.catalog {
    display: flex;
    justify-content: space-between;
}

.catalog-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.item-products {
    width: 220px;
}

.title-products {
    margin-top: 0;
    margin-bottom: 8px;
}

.name-products, .model-products {
    display: block;
}

.old-price, .price-products {
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;
}

.old-price {
    color: var(--basic-oldprice);
    text-decoration: line-through;
}

.price-products {
    color: var(--basic-white);
    background-color: var(--basic-buttonred);
    display: block;
 /* Выравнивание по центру */
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}


/* Фильтр */
.filter {
    width: 220px;
}

.filter ul {
    padding: 0;
    font-size: 15px;
    line-height: 19px;
}

.range-field, .manufacturer-field, .battery {
    border: 0;
}

.parag-filter {
    background-color: var(--basic-beige);
    padding: 10px 18px;
    margin: 0;
}

.filter-title {
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
}

.range-field {
    border-bottom: 1px solid var(--basic-lightwhite);
}

.manufacturer-field {
    border-bottom: 1px solid var(--basic-lightwhite);
}

.button-filter {
    font-size: 13px;
    line-height: 18px;
    background-color: var(--basic-white);
    text-transform: uppercase;
    border: 1px solid #E5E5E5;
}

.item-check {
    margin-bottom: 20px;
}

/* Информация о инструментах */
.info-instruments {
    background-color: var(--basic-background);
    padding: 65px 0;
    margin-top: 60px;
}

.info-instruments h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;
}

/* Пагинация */

.section-pagination li {
    display: inline;
}

.pagination {
    padding: 0;
}

.btn-pag {
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: 1px solid var(--basic-lightwhite);
    border-radius: 2px;
}

.here {
    background-color: var(--basic-buttonred);
    color: var(--basic-white);
    border: 1px solid var(--basic-buttonred);
}

.click:hover {
    border: 1px solid var(--basic-graylight);
}

.click:active {
    border: 1px solid var(--basic-buttonred);
}

/* Подвал */ 
.main-footer {
    font-family: "Cuprum", Arial, sans-serif;
    background-color: var(--basic-blue);
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    background-color: var(--basic-buttonred);
    display: inline-block;
    width: 220px;
    height: 68px;
    padding-top: 20px;
    padding-bottom: 25px;
    text-align: center;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-info {
    margin-top: 22px;
}

.footer-info, .fphone{
    font-size: 18px;
    font-weight: normal;
    line-height: 24px; 
    color: var(--basic-superlightgray);
    padding-left: 2px;
}

.fadress {
    margin: 0;
    padding: 0;
}

.footer-menu {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    flex-grow: 1;
    padding-top: 37px;
    margin-left: 70px;
}

.fnav-one, .fnav-two {
    display: flex;
    justify-content: space-between;
}

.fnav-two {
    padding-top: 34px;
    padding-left: 22px;
}

.fnav-one a {
    color: var(--basic-background);
}

.fnav-two a {
    color: var(--basic-gold);
}

.fnav-one a:hover, .fnav-two a:hover {
    text-decoration: underline;
}

.fnav-one a:active, .fnav-two a:active {
    opacity: 0.5;
}

/* Нижний подвал */
.footer-bottom {
    background-color: var(--basic-darkblue);
    padding-top: 36px;
    padding-bottom: 34px;
    margin-top: 54px;
}

.footer-copyright {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: var(--basic-white);
    padding-top: 1px;
    padding-left: 2px;
    padding-bottom: 0;
    padding-right: 0;
    margin: 0;
    
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1
}

.footer-social li {
    margin-right: 15px;
}

.footer-social a {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: var(--basic-white);
}

.footer-contacts {
    display: flex;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: var(--basic-white);
}

.developer {
    margin-left: 52px;
    padding-right: 13px;
}

.footer-contacts a {
    color: var(--basic-gold);
}

.footer-contacts a:hover {
    text-decoration: underline;
}

.footer-contacts a:active {
    color: var(--basic-buttonred);
    text-decoration: underline;
}
